dist: xenial
language: groovy
jdk:
- openjdk8
sudo: false
addons:
  chrome: stable
branches:
  only:
  - master
  - dev
  - /^feature\/.*$/
  - /^hotfix\/.*$/
  - grails-3.3.10

before_cache:
  - echo "before cache"
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
- echo "before install"
- export TZ=Australia/Canberra
- ls -lt
- rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`)
install:
  - cd ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install $TRAVIS_NODE_VERSION
before_script:
#- export DETECT_CHROMEDRIVER_VERSION=true
- echo "before script"
- cd ~/build/AtlasOfLivingAustralia
- npm install
- npm run-script package-turf
#- LATEST_CHROMEDRIVER_VERSION=`curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE"`
#- curl "https://chromedriver.storage.googleapis.com/${LATEST_CHROMEDRIVER_VERSION}/chromedriver_linux64.zip" -O
#- unzip chromedriver_linux64.zip -d ~/bin

script:
- cd ~/build/AtlasOfLivingAustralia/ecodata-client-plugin
- echo "in script"
- ls -lt
#- node_modules/karma/bin/karma start karma.conf.js --single-run --browsers PhantomJS
#- ./gradlew cloverGenerateReport
#- ./gradlew clean && ./gradlew build
#- grails -Dphantomjs.binary.path=/usr/local/phantomjs/bin/phantomjs -Dgeb.env=chromeHeadless test-app -clover.on --non-interactive --stacktrace

after_success:
  - echo "after success"
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && travis_retry ./gradlew publish'

env:
  global:
  - TRAVIS_NODE_VERSION="10.8.0"
  - secure: APIxsQqe4M4rIPwU1wKwq6DabQ+CrFu2onzp9k8R9Bv0InewxUf0eOWsp8Xl2m3/Lh7IgUkxI5GbuBvZm/j3NRCkA+VuHBSbA1qUu9aDkUQrtyHzkoe+Uk9Ze0QO22O7//WtbtH/bqgvbagCUk1W5sL6h2aL081td760DY+h+D43XvegqFTSE2mWLvZDD7gz3Lw982LLn7DwQhVOAws+h3fXhydRtqSU+ig6SAr1lzhVyrRLFLAqh1V3canZXh1RKZ28aRwEYUxnVi4kVvH254ogx++bL81pmMfatcebsXUCuAfc6FS1m/QGz6wyqdKO0mZIsAavWmtoKBEbzwNMBS0fZVuW9rslRdJd+K+vQOhigTaWyqj7MlfdY7o99y+trcQECvPGDlw0eYThpeRZK1h1r1auOuSZ46FiXRsWtiSQ3f6GQSRERXiKczvlSqZlNWiWswcNtOS60QvMDdRKa2RRLPrtgPNuG/BnHdaH197riTa74jOW3pgjRZTJyT5aRkHTdZS4l1B/JWjZBwY9yjukfwtFql4HHf8o7jtbTUSXqWt80fwlxXQBEcXxKJzn1vpnEpydS/GeftDFOCXfEFZpM+z6ben3Ti5PufjYfX1Emb6ZwEb/IDhYeCK/xTZlvqxbDgepLqeMiuV+CeHo0NBcu3qnORQMiTZCdEs1hFU=
  - secure: ufGvrU/vc0XQ8dbcx9ER4eb8MQloeVvC8ToQrwh3T5WUN4CbnugJ2EcSqoGAsXSZ2VUqE8NmdN2VfCQ6KxAtWKvNNxoe1M33DMgS1hRLWOa934Z7+cZ9RlclW29WGi9C4zpPMd4rJdeGyQMr+q4+TZWuk/I48DXRKyWv3FM4t68F52Jlr0wagWPr1oFJScjzJmmAPReJivF8g49d24rE9G2x04PYy/yCOmgiqUuYhArYKmqdquQL2X/SF4ifFpFIADKw9K6Ari48JskwXweuDCzrvHnj7xeDkDt9uiIpe85nf+th9MmS5NOX4nIod8y6NJyTdflD/k1vVRSLILtu21PXXnn7SpuLpS3FuSh4tKjEO3wZrndFiVqMobv7DaYkxshldRMkNHqeyZUThl2H4hskk2BkK/DaHwPg/JDdlyk8MmaN7LJEezmGhIEtZiEm62NVKU5vGDUB2UmyFEhI4UjcIrfyGR77P5xTW4iBHagP10qqMNrNZ8CkaugfuefI9PCK+nt7YuvP1s+AV05TKNrO7QFFw7+6k5Stv+kJb/k6Vfs4hUCM0Uhv01oYr3dZa9s+Sra/BS2mkmdurNcp0s4AZg4HbXcd03dCfA7dF5EVS2pObVViWy8CDUREc2XMWYKxdwals17Q8O7SjSHHzngXX7Jj0lw1EKQQtgoyb6g=
