.popover.warning {
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.popover.warning .popover-content {
    padding: 4px 10px 4px 10px;
    font-size: 12px;
}

.popover.warning .arrow:after {
    border-right-color: yellow;
}

.popover.warning.top .arrow:after {
    border-top-color: yellow;
    border-right-color: transparent;
}

.fileupload-buttonbar {
    overflow-x: scroll;
}

.select2.select2-container {
    margin-bottom: 10px; /* Match the 10px bottom margin on input elements applied by bootstrap */
}

table td .select2.select2-container {
    margin-top: 0;
}

.constraint-icon {
    width:14px;
    height:14px;
    display:inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.constraint-image {
    width:30px;
    height:30px;
    display:inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.constraint-text {
    display:inline-block;
    height: 14px;
}


/** Styling for the condition / trajectory component used by threatened species recovery and state of the environment reporting */
.condition {
    stroke-width: 2;
    stroke: white;
}

.condition.condition-very-poor {
    fill:red;
}
.condition.condition-poor {
    fill:orange;
}
.condition.condition-good {
    fill:green
}
.condition.condition-very-good {
    fill:green
}

.trajectory {
    fill:white;
    stroke: #787878;
    stroke-width: 8px;
}
.trajectory-icon path{
    fill: #787878;
    stroke: #787878;
    stroke-width: 0;
}

span.preLabel {
    margin:0;
}

input[type=number] {
    text-align: center;
}

.repeating-section + .repeating-section {
    margin-top: 15px;
    padding-top: 25px;
    border-top: 1px solid #999;
}

button.add-section {
    margin-bottom: 20px;
}

.species-select2 .select2 {
    width:90% !important; min-width:200px; box-sizing:border-box;
}

table .select2-container .select2-selection--single {
    height:initial;
}

/** Emulate bootstrap styling for input fields for the select 2 */
div.species-select2[class*="span"] {
    display:inline-block;
    float:none;
    margin-left:0;
    position: relative;
}
div.species-select2 > span.input-append {
    width: 100%;
}

table textarea, table .select {
    width:100%; box-sizing:border-box;
}

table .select2 {
    width:100% !important; box-sizing:border-box;
}

div.col-border-right {
    border-right: 1px solid lightgrey;
    padding-right: 8px;
}

.span12 textarea {
    width: 100%;
    box-sizing: border-box;
}

